<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/index.html}">
        <link rel="stylesheet" href="./css/style.css">
    <head></head>
    <body>
        <h1>LightInTheSched Application</h1>
        <nav>
            <a href="/stage">See The Current Loadshedding stage</a>
            <a href="/provinces">Get A List Of Provinces</a>
            <a href="/towns">Find Your City's Schedule</a>
        </nav>
        <main>
            <div layout:fragment="contents">
                <p th:text="${'Showing schedule for '+town}"></p>
                <p th:text="${'For stage '+ stage}"></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Day</th>
                            <th class="text-center">Slot Start</th>
                            <th class="text-center">Slot End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="day, itr: ${schedule.getDays}">
                            <td class="text-center" th:text="${itr.count}"></td>
                            <td class="text-center">
                                <span th:each="slot : ${day.getSlots}">
                                    <span th:text="${slot.getStart}" class="text-center"></span><br/>
                                </span>
                            </td>
                            <td class="text-center">
                                <span th:each="slot : ${day.getSlots}">
                                    <span th:text="${slot.getEnd}" class="text-center"></span><br/>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>